body {
  padding: 16px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: #29064b; */
  /* background-color: #380c64; */
  /* background-color: #1c0471; */
  background: linear-gradient(to left, #320a5a, #2c1776, #1c0471);
  color: white;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
}

h1,
h2 {
  font-family: Pacifico, cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  /* color: #b7c6fa; */
}

h2 {
  font-size: 36px;
  margin: 12px 0;
}

button {
  margin-top: 20px;
  padding: 30px;
  width: fit-content;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #1200b2;
  border-radius: 100%;
  border: 3px solid #50436bdc;
}

button:hover {
  background-color: #fff;
}

.bunnyAndText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bunnySays {
  padding: 20px;
  padding-top: 30px;
  margin-top: 12px;
  width: 170px;
  border-radius: 50%;
  border: 1px solid #cdd7fc;
}

#bunny {
  width: 140px;
  display: flex;
  /* justify-content: center; */
}

#happyBunny {
  height: 180px;
  margin: 0 1px;
}

#happyBunnyBigger {
  height: 300px;
  margin: 0 1px;
}

.main-description {
  margin: 36px 0;
}

.task-num {
  text-decoration: underline;
  margin: 16px 0;
}

#checkButton {
  margin-top: 36px;
  width: fit-content;
  background-color: #fff;
}

#errorMessage {
  margin-top: 36px;
  padding: 10px;
  display: none;
  flex-direction: column;
  border-radius: 5%;
  max-width: 500px;
  align-self: center;
}

#errorMessage .bunnySays {
  padding-top: 40px;
  border-color: rgb(255, 56, 255);
  background-color: rgba(246, 131, 246, 0.497);
  font-size: large;
  width: 160px;
}

#errorMessage p {
  margin-top: 0px;
  color: rgb(255, 255, 255);
}

#hidden {
  display: none;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.correctAnswer {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(0, 255, 34);
  font-weight: bold;
  font-size: xx-large;
}

.correctAnswerSmaller {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(0, 255, 34);
  font-weight: bold;
  font-size: x-large;
}

.highlightText {
  color: rgb(92, 236, 255);
  /* color: rgb(242, 255, 0); */
  /* color: rgb(238, 244, 128); */
}

/* ////////////////////////// */
/* TASK 1 */

.answerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

#answerForm input {
  width: 50px;
  height: 5px;
  padding: 20px;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
  border-radius: 16%;
}

/* ////////////////////////// */
/* TASK 2 */

#optionButtonsForm {
  flex-direction: row;
  margin-top: 32px;
}

.optionBtn {
  width: 140px;
  height: 124px;
  margin: 10px;
  border: none;
  border-radius: 10%;
  background: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.optionBtn:hover {
  box-shadow: -8px 8px 8px #5011b5;
}

#btnWrong1 {
  background-image: url(sources/waffle.png);
}

#btnWrong2 {
  background-image: url(sources/limonade.jpg);
}

#btnWrong3 {
  background-image: url(sources/zimtschnecke.png);
}

#btnCorrect {
  background-image: url(sources/sahne.png);
}

/* ////////////////////////// */
/* TASK 3 and particulary TASK 5 */
#photo {
  width: 80%;
  max-width: 300px;
  margin-top: 10px;
}

.musicButton,
.textButton {
  width: 80%;
  max-width: 150px;
  height: 50px;
  align-self: center;
  border-radius: 30%;
  padding: 10px;
  font-size: x-large;
}

#dropdown {
  width: 100px;
  height: 50px;
  margin: 20px 0;
}

option#dropdown {
  text-align: center;
}

select#dropdown {
  font-size: 20px;
  text-align: center;
  padding-right: 5px;
}

/* ////////////////////////// */
/* TASK 4 */
.mainzBtn {
  width: 250px;
  height: 250px;
  margin: 10px;
  border: 5px solid #fff;
  border-radius: 10%;
  background-size: cover;
}

#btnWo1 {
  background-image: url(sources/wo1.jpg);
}
#btnWo2 {
  background-image: url(sources/wo2.jpg);
}
#btnWo3 {
  background-image: url(sources/wo3.jpg);
}
#btnWo4 {
  background-image: url(sources/wo4.jpg);
}
#btnWo5 {
  background-image: url(sources/wo5.jpg);
}
#btnWo6 {
  background-image: url(sources/wo6.jpg);
}
#btnWo7 {
  background-image: url(sources/wo7.jpg);
}
#btnWo8 {
  background-image: url(sources/wo8.jpg);
}

/* TASK 5 */

.notMainzBtn {
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 0%;
  background-size: cover;
}

.citiesDropdown {
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
}

option.citiesDropdown {
  text-align: center;
}

select.citiesDropdown {
  font-size: 20px;
  text-align: center;
}
/* TASK 6 */

.textButton {
  text-transform: none;
}

/* 393px * 852px // 430px * 932px */
@media screen and (max-width: 393px) {
}
