body {
  padding: 16px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: #29064b; */
  /* background-color: #380c64; */
  /* background-color: #1c0471; */
  background: linear-gradient(to right, #320a5a, #1c0471);
  color: white;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
}

h1,
h2 {
  font-family: Pacifico, cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  /* color: #b7c6fa; */
}

h2 {
  font-size: 36px;
  margin: 12px 0;
}

button {
  margin-top: 20px;
  padding: 30px;
  width: fit-content;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #1200b2;
  border-radius: 100%;
  border: 3px solid #50436bdc;
}

button:hover {
  background-color: #fff;
}

.bunnyAndText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bunnySays {
  padding: 20px;
  margin-top: 12px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid #cdd7fc;
}

#bunny {
  width: 140px;
  /* height: max-content; */
  display: flex;
  /* justify-content: center; */
}

#happyBunny {
  height: 200px;
}

.main-description {
  margin: 36px 0;
}

.task-num {
  text-decoration: underline;
  /* color: aqua; */
  margin: 16px 0;
}

#checkButton {
  margin-top: 36px;
  width: fit-content;
  background-color: #fff;
}

#checkButton:disabled {
  background-color: #fff;
}

#errorMessage {
  margin-top: 36px;
  color: #ff24b2;
  display: none;
  flex-direction: column;
}

#errorMessage p {
  margin: 0;
}

#hidden {
  display: none;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.correctAnswer {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(0, 255, 34);
  font-weight: bold;
  font-size: xx-large;
}

.correctAnswerSmaller {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(0, 255, 34);
  font-weight: bold;
  font-size: x-large;
}

.highlightText {
  color: rgb(92, 236, 255);
  /* color: rgb(242, 255, 0); */
  /* color: rgb(238, 244, 128); */
}

/* ////////////////////////// */
/* TASK 1 */

.answerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

#answerForm input {
  width: 50px;
  height: 5px;
  padding: 20px;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
  border-radius: 16%;
}

/* ////////////////////////// */
/* TASK 2 */

#optionButtonsForm {
  flex-direction: row;
  margin-top: 32px;
}

.optionBtn {
  width: 140px;
  height: 124px;
  margin: 10px;
  border: none;
  border-radius: 10%;
}

.optionBtn:hover {
  box-shadow: -8px 8px 8px #5011b5;
  background-color: #fff;
}

#btnWrong1 {
  background-image: url(sources/waffle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#btnWrong1:checked {
  border: 1px solid red;
}

#btnWrong2 {
  background: none;
  background-image: url(sources/limonade.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#btnWrong3 {
  background: none;
  background-image: url(sources/zimtschnecke.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#btnCorrect {
  background: white;
  background-image: url(sources/sahne.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ////////////////////////// */
/* TASK 3 */
#photo {
  width: 80%;
}

.musicButton {
  width: 100%;
  height: 40px;
  border-radius: 0%;
  padding: 10px;
}

#dropdown {
  width: 100px;
  height: 50px;
  margin: 20px 0;
}

option#dropdown {
  text-align: center;
}

select#dropdown {
  font-size: 20px;
  text-align: center;
  padding-right: 5px;
}

/* 393px * 852px // 430px * 932px */
@media screen and (max-width: 393px) {
}
